/* -----  Flashモードページ  ----- */

.container {
    width: 100%;
    min-height: 100vh;
    background-image: url(../public/images/bg_home.png);
    background-size: cover;
    overflow: hidden;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

/* 設定選択画面 */

.selectContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-bottom: 50px;
}

.selectBoxHr {
    height: 10px;
    width: 100%;
    background-color: #2f2f2f52;
}

.selectBox {
    margin: 10px 0;
    padding: 20px 0;
    background-color: #2f2f2f52;
}

/* StartBtn */
.startButtonContainer {
    width: max-content;
    margin: 0 auto;
}

/* カウントダウン画面 */
.countContainer {
    width: 1000px;
    min-height: 500px;
    margin: 0 auto;
    background-color: #2f2f2f52;
    border-radius: 50px;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0px 0px 5px white;
}

.countBox {
    color: white;
    font-size: 6rem;
    font-weight: 600;
    text-shadow: 0px 0px 5px #8187fa;
}

/* プレイ画面 */
.playContainer {
    width: 1000px;
    min-height: 500px;
    margin: 0 auto;
    background-color: #2f2f2f52;
    border-radius: 50px;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-shadow: 0px 0px 5px white;
}

.playTopBox {
    padding: 30px;
    width: 100%;
    background-color: rgb(206, 0, 0);
    display: flex;
    align-items: center;
    gap: 30px;
}

.playBottomBox {
    flex: 1;
    padding: 30px;
    width: 100%;
    background-color: rgb(255, 0, 0);
    font-size: 2rem;
}

.supUserIcon {
    overflow: hidden;
    background-color: white;
    border-radius: 100%;
    object-fit: cover;
}

.supName {
    font-size: 1.5rem;
    color: rgb(228, 228, 228);
}

.supValue {
    font-size: 1.8rem;
    font-weight: 600;
    color: white;
}

.supComment {
    color: white;
}

/* 結果画面 */
.resultContainer {
    width: 1000px;
    min-height: 500px;
    margin: 0 auto;
    background-color: #2f2f2f52;
    border-radius: 50px;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-shadow: 0px 0px 5px white;
}