/* -----  ホームページ  ----- */

.container {
  min-height: 100vh;
}

/* タイトル */
.titleBox {
  padding: 1rem 0;
}

.title {
  font-size: 4rem;
}

.title,
.subtitle {
  text-align: center;
}

/* メインコンテンツ */
.main {
  width: 90%;
  margin: 0 auto;
  display: flex;
}

.flash,
.chat {
  flex: 1;
  margin: 2rem 0;
  display: flex;
  justify-content: center;
  align-items: center;
  color: black;
  background-color: white;
  cursor: pointer;
  transition: 0.6s;
}

.flash:hover,
.chat:hover {
  filter: opacity(70%);
}

.flash {}

.chat {}